[2012-06-18 09:47] damagefilter opened #1 "calHook in HookExecutor needs refinement"
callHook does not consider Plugin priorities yet, however it should. Changes must include:
- High and Critical priority Plugins must get hooks regardless of their cancel-state
- (Suggestion) Low priority Plugins could receive cancelled hooks for monitoring stuff.

[2012-06-18 09:50] damagefilter opened #2 "Animal & Item creation for Dimension"
There is already a createMob in Dimension which will return a new Instance of a Mob.
Additionally there needs to be createItem and createAnimal, maybe even createLiving methods so Plugins that only use the Lib can create new stuff like that instead of including CanaryMod.jar.

[2012-06-18 09:54] damagefilter opened #3 "Permission query priorities"
Permission Query is pretty dumb at the moment and needs some more intelligence.
That "explicitly deny a permission" thing doesn't work if there's an asterisk on the path.
That means if the asterisk is true but any subsequent nodes are not, it needs to know that and check
the full path instead of only until it reaches the asterisk.

[2012-06-18 09:57] damagefilter opened #4 "Default group is not recognized ..."
... if it's not the first in line. This should be an issue with the Groups and Users backbone. Might be an easy fix, probably something incredibly stupid. My guess is that it's in the constructor of said backbone where it sorts out the loaded groups.

[2012-06-18 14:44] BluXDragon commented on #1
There's already passive for monitoring. Perhaps that should receive cancelled. I disagree with LOW.
You know, I'm thinking, you could always add another argument on RegisterListener "RecieveCancelled" true/false ._.

[2012-06-18 15:06] mbax opened #5 "Kick and Ban hooks need reasons"
getKickReason() getBanReason() or similar

[2012-06-18 15:07] mbax opened #6 "Kick hook needs onKick in plugin listener"

[2012-06-18 15:47] damagefilter commented on #1
That'S what I meant. So that monitoring plugins would receive cancelled hooks still to monitor what happened to the hook.

[2012-06-19 07:37] #5 closed, assigned to darkdiplomat

[2012-06-19 07:37] #6 closed, assigned to nobody

[2012-06-20 18:00] gregcarlin opened #7 "World.getBlockAt(x, y, z)"
Maybe I'm just missing it, but I can't seem to find this method. I think it's pretty crucial though.

[2012-06-20 18:02] gregcarlin opened #8 "onCraft additions"
I would really like to see the following things added to the onCraft hook:
1) Make it a cancelable hook
2) Retrieve the items in the crafting slots and their locations (probably in a small array)

[2012-06-20 18:13] spenk opened #9 "missing methods"
im missing
player.getLevel();
player.setXP()
warp.getLocation();
Home.getLocation();
player.setCreatetiveMode(boolean); since we have player.isInCreativeMode();

[2012-06-20 18:27] Jarvix commented on #7
It is in Dimension. The different between Dimension and World has been much clearer and better in Creeper.
A world has 3 dimensions. A dimension is thus Nether, Normal and End.
Dimension.getBlockAt() is there.

You can get the dimension from a world with World.getEnd() .getNether() .getNormal() or with .getDimensions().

[2012-06-20 18:27] #7 closed, assigned to nobody

[2012-06-20 18:28] Jarvix commented on #8
2) You want a crafting API? :)

[2012-06-20 18:31] gregcarlin commented on #7
Ahh sorry about that.

[2012-06-20 18:39] gregcarlin commented on #8
Well, I've always wanted the ability to do more stuff with crafting, seeing as it's a significant part of the game. I found the onCraft hook and did a little testing with it, but all it seems to do is monitor what people are crafting. So I basically do want a deeper API, along the lines of what I explained.

[2012-06-20 21:06] Jarvix commented on #9
To set creative mode, use setMode(1). I replace isInCreativeMode with getMode, especially with the new adventure mode in sight.

[2012-06-20 21:30] Jarvix commented on #9
Implemented Warp.getLocation(). I dont see any Home class so i cant implement Home.getLocation()
Warp class has a warp() method that takes a Player as argument. It will, if possible, warp the given player to the location. Use that to warp the player.
Added Player.getLevel() and Player.setExperience().

[2012-06-20 21:30] #9 closed, assigned to nobody

[2012-06-20 22:01] darkdiplomat commented on #8
you can actually cancel it by setting the item to null, and I'll see about getting the items in the crafting matrix

[2012-06-20 22:39] Jarvix opened #10 "Implement /reload"
The reload command with all its functionality is a critical feature and must be implemented.
It must reload the flatfile database, refresh backbone and configuration caches, and refill variables in the original minecraft code to make the changes take effect.

[2012-06-20 22:43] Jarvix opened #11 "Add maven"
Add maven to Lib and Recode for easy project building.

[2012-06-20 23:16] spenk commented on #9
dont want to open an new issue but could add
player.getInventory.getItemFromSlot();
and world.Explode(x,y,z,power);

[2012-06-21 00:58] Jarvix commented on #9
Please open a new issue

[2012-06-21 08:54] spenk opened #12 "new methods"
couldnt find some methods

player.getInventory.getItemFromSlot();
and world.Explode(x,y,z,power);
player.isOp();
player.setOp(): ?

also
some replacement for
oworld.a(new OEntityLightningBolt(oworld, player.getX(), player.getY(), player.getZ()));?

[2012-06-21 09:15] Jarvix commented on #12
I will look into most methods. The isOp and setOp is done via the canary.vanilla.op permission . Use player.hasPermission().

[2012-06-21 10:54] spenk opened #13 "hook onConsoleCommand not working in gui"
with .bat server you can parse console commands but when you launch it with gui it does nothing besides showing unknown command ?

[2012-06-21 11:01] spenk commented on #12
thanks

[2012-06-21 12:19] #12 closed, assigned to nobody

[2012-06-21 12:22] Jarvix opened #14 "PluginLoader should verify dependencies upon reloading a plugin."
The plugin might crash badly when a new dependency is not loaded. The CANARY.INF could have been changed between reloads.

[2012-06-21 12:25] #11 closed, assigned to 14mRh4X0r

[2012-06-21 12:49] spenk opened #15 "im missing propertiesfile methods"
couldnt find any propertiesfile methods are the method names changed or isnt it implemented yet

[2012-06-21 13:15] spenk opened #16 "item methods"
im missing an method to get the item name
(item.getType.toString()) in old canary
also for damaged items me and dark wrote a piece for iAuction maby you could use it http://pastebin.com/Fv9BrkQY

item.setSlot(item,slot); doesnt work with parameter slot

also missing something like
player.swichworlds(world); player.swichdimension(dim); ?

[2012-06-21 14:35] Jarvix commented on #15
I don't exactly understand what you mean. Maybe you can join IRC and we can explain.

ConfigurationFile is used to work with property file-style configuration files.

[2012-06-21 17:38] #1 closed, assigned to damagefilter

[2012-06-21 17:38] #3 closed, assigned to damagefilter

[2012-06-21 17:38] #4 closed, assigned to damagefilter

[2012-06-21 19:42] damagefilter commented on #16
Again Spenk, you as plugin dev are not supposed to use the switchWorlds method.
I'll make it private in the new CanaryPlayer class so there will be no confusion with this anymore.
In order to put a player in another world (that's also valid for the current b10.x) just make player.teleportTo(Location)
Where you specify the world name and dimension in Location before you send the player there.

[2012-06-21 21:26] spenk commented on #16
i dont like it but i have to deal with it in that case =/
what about those other 2

[2012-06-21 21:35] damagefilter commented on #16
setSlot(int) in Item is meant to set the inventory slot of said item not to set an item to a slot of an inventory that we don't have recollection of. With a lil bit of thinking you could of guessed that ;)
There's no way to get the item type though so I be adding this.

Also: that you don't use switchWorlds is a convenient thing. You as plugin dev don't need to worry about the dimension a location

[2012-06-21 21:39] #16 closed, assigned to nobody

[2012-06-23 09:22] damagefilter commented on #15
I'm closing this as it's highly likely that he means ConfigurationFile which is the 1to1 replacement for PropertiesFile.

[2012-06-23 09:22] #15 closed, assigned to nobody

[2012-06-23 11:11] WWOL opened #17 "ConfigurationFile paths"
When creating a ConfigurationFile the path must be split by a / for the auto creation to work. This caused a bit of trouble when I was using File.seperator and wondering why it didn't work. I had to look at the source to figure it out. Perhaps it should use lastIndexOf(File.seperator) instead of lastIndexOf("/")? Or just replace all File.seperator with "/"?

Thoughts?

WWOL

[2012-06-23 11:26] 14mRh4X0r commented on #17
It would indeed be better if we'd use File.separator instead of "/".

[2012-06-23 12:03] Jarvix commented on #13
I confirmed the problem. Only vanilla commands work in the vanilla GUI.

[2012-06-23 12:15] #17 closed, assigned to 14mRh4X0r

[2012-06-24 19:26] damagefilter commented on #2
Is now implemented. closing.

[2012-06-24 19:26] #2 closed, assigned to nobody

[2012-06-26 01:17] damagefilter opened #18 "Warps overriding is glitchy"
System does not check if a player is allowed to override a warp (override private with public warp (same name) for example).
That will cause some nasty trouble. Needs some checks if a warp can be changed before it is executed on the database.
Also: Needs to properly override all properties including isHome and "owner"

[2012-06-26 08:52] damagefilter commented on #18
Closed, fixed.

[2012-06-26 08:52] #18 closed, assigned to damagefilter

[2012-06-26 09:54] damagefilter opened #19 "Register commands to Help system"
That might be a tricky thing to do as the help system is probably not loaded when the commands enum is processed
and therefore there is no access to the Help system.

[2012-06-26 10:53] damagefilter commented on #13
Fixed, closed.

[2012-06-26 10:53] #13 closed, assigned to nobody

[2012-06-27 20:06] damagefilter commented on #8
I put Container<> on Workbench, should be able to access the crafting grid from there. I'll test around.

[2012-06-28 20:56] Jarvix opened #20 "Adding 'moardimensions' system: allowing more than 3 dimensions in a world."

[2012-06-28 20:56] Jarvix opened #21 "Allowing custom world generation for multiworld."

[2012-07-03 09:01] 14mRh4X0r opened #24 "Implement a modular command system?"
It's possibly preferable to implement a modular command system for both native and plugin commands, where plugins can add commands using this.addCommand(CommandHandler, String command...), where CommandHandler takes a help description much like BaseCommand in CanaryMod.

[2012-07-03 09:11] 14mRh4X0r commented on #19
We should watch #24 on this.

[2012-07-04 14:17] Jarvix commented on #24
What do you mean with modular?

[2012-07-04 14:18] damagefilter commented on #24
That could mean the removal of the actual command hook and rather work with commands that are added to the system.
I kinda like that.

[2012-07-04 14:33] 14mRh4X0r commented on #24
Yes, much like the current Canary does with PlayerCommands, but providing a piece of additional security by adding it as a final method to Plugin, so other plugins cannot remove your commands.

[2012-07-05 07:22] SirPsp opened #25 "listwarps empty"
warps don't get added to /listwarps on load or when using a plugin to create a warp, only temporarily when using /setwarp

[2012-07-05 18:36] damagefilter commented on #25
Please describe how you go about adding warps.
//Nvm, found the issue.

[2012-07-05 20:06] #25 closed, assigned to damagefilter

[2012-07-06 14:38] Jarvix opened #26 "Allow plugins to implement custom databases."
There is a problem to be solved before this can be implemented: load order. Plugins are loaded after the database.

[2012-07-06 16:43] spenk opened #27 "addition hook CommandCheck"
i want to see a commandcheck hook where you can allow or deny the command skipping the permissions

[2012-07-06 19:00] damagefilter commented on #27
We'll see how exactly that can be integrated with the new command system and where.

[2012-07-06 19:12] damagefilter commented on #26
That means there needs to be a load point before database loads, so custom implementations can be made available.

[2012-07-06 19:25] Jarvix commented on #26
I was thinking about a database mount-point, no dependency checking there. it will load it and call enable on it very early. in there only configuration can be accessed.

[2012-07-06 21:50] spenk opened #28 "config folder not creating"
im using windows and the config folder isnt creating automatically (using java 7 and 6)
http://pastebin.com/FbhuQApr

[2012-07-06 23:47] #24 closed, assigned to 14mRh4X0r

[2012-07-07 01:33] spenk opened #29 "missing rot methods"
im missing player.rotX y z etc can these be implemented
(also bump for fixing signchange :))

[2012-07-07 12:02] Jarvix commented on #29
Did you see the setrotation gettotation and pitch methods in Entity?

[2012-07-07 13:36] spenk commented on #29
no i didnt but can this also be for Player
if now how do i make a player an entity

[2012-07-07 13:46] damagefilter commented on #29
Excuse me for a second: LOLOLOLOLOLTROLLOLOLOLOLRTROLLTROLLOLOLOL

Now.
Try player.\* again.

[2012-07-07 13:47] Jarvix commented on #29
Spenk, read about SUBCLASSING. Player is a subclass of EntityLiving which is a subclass of Entity. SOO Player has ALL  methods that are in EntityLiving and in Entity.

[2012-07-07 13:47] #29 closed, assigned to nobody

[2012-07-07 14:13] spenk commented on #29
ah yes i saw the getRotation methods already but not getRotationY(); x or z wich was earlier implemented in player.getLocation.rotY();

[2012-07-07 16:00] spenk commented on #29
ItemEntity.destroy();
that one isnt added yet :) correct me is it is
i saw entity.destroy though

[2012-07-07 16:01] 14mRh4X0r commented on #29
This issue CLOSED. Means you don't comment on it unless you have a reason to reopen it.

[2012-07-08 12:23] SirPsp opened #30 "onBlockRightClicked issues"
RightClickHook.getBlockPlaced() is actually the block you click, and getBlockClicked() is null if your hand is empty but the type is not what you hold, it's always from 1 to 5 depending on what direction you're facing.

Also, the item in your hand is null (or has id 0) the first time you right click, but after that it gets the correct id. Might be only for items you have when you log in.

I think

[2012-07-09 04:50] damagefilter commented on #19
CommandManager of #24 should auto-register a command to the help system in registerAll(...) / addCommand(...) after the command has been added to the list. So people wouldn't need to register the help extra.

[2012-07-11 02:33] spenk opened #31 "getItemHeld & getSlot"
getItemHeld does not recognise the item when you login after a server reboot

and getSlot doesn't return null. It returns a NullPointerException instead =/

[2012-07-11 19:25] gregcarlin opened #32 "Arrows don't shoot"
When I fire a bow, I can pull it back fine, but when I release it no arrow comes out. The arrow is removed from my inventory, but an inventory refresh returns the arrow and the restores the damage on the bow.

[2012-07-11 20:42] damagefilter commented on #31
Pushed a fix in Recode.
Please post issues regarding failing minecraft logic in CanaryRecode. Thanks.

[2012-07-11 20:42] #31 closed, assigned to nobody

[2012-07-11 20:45] damagefilter commented on #14
Do you think you gonna get this thing done before saturday?

[2012-07-11 20:45] damagefilter commented on #8
So, this is on hold until we fixed the crafting issue.

[2012-07-11 23:11] gregcarlin commented on #8
Take your time! I'd much rather it be done correctly.

[2012-07-11 23:49] Jarvix commented on #14
Hehe no. No time.

[2012-07-12 05:04] #19 closed, assigned to damagefilter

[2012-07-12 05:09] damagefilter commented on #27
Deprecated. Will not be implemented.
Use onCommand hook in the future to cancel commands,
use the command system to register commands to the system.
Closed.

[2012-07-12 05:09] #27 closed, assigned to nobody

[2012-07-12 05:14] damagefilter commented on #10
UHm ain't that done yet? We kinda reload about anything with /reload right now.

[2012-07-12 21:29] damagefilter commented on #30
Fixed in Recode :)
Closing.

[2012-07-12 21:29] #30 closed, assigned to nobody

[2012-07-13 11:06] damagefilter opened #33 "System-Default hook priorities fail"
System default hook priorities make registering a plugin with them fail.
Pluin.getPriorityNode(name) must get an oveload for default hook priorities and their values,
and return a repsective priority node so registering with default priorities will still be possible!

[2012-07-13 11:16] damagefilter commented on #32
Actually I suppose that the source of this is the same as for the workbench issue. Not sure but I would say both use OSlot for some stuff or something along that line... Just saying.

[2012-07-13 17:15] #33 closed, assigned to damagefilter

[2012-07-13 19:25] gregcarlin opened #34 "onSmelt"
I would love to see something similar to onCraft, but for furnaces. I understand that you have more important issues at the moment, like fixing onCraft, but I thought I'd mention this.

[2012-07-13 20:06] damagefilter commented on #32
Fixed this.
Next time, please commit bugs concerning vanilla behaviour (stuff that derivates from vanilla behaviour, unrelated to stuff that CanaryLib provides) to CanaryRecoed. Thanks :)

[2012-07-13 20:06] #32 closed, assigned to nobody

[2012-07-13 20:33] damagefilter commented on #34
IIRC the CraftingHook is fired for smelting stuff too.
YLivay made changes though so we might need to adjust.

[2012-07-14 11:58] damagefilter commented on #8
Done, closing :)

[2012-07-14 11:58] #8 closed, assigned to darkdiplomat

[2012-07-15 03:15] gregcarlin opened #35 "A couple requested methods"
I've been working a lot with the newest creeper (0.3), and I have found a need for a couple of methods:

playerInstance.isBlocking() - Returns whether or not the player is blocking with a sword
playerInstance.hasPotionEffect(PotionEffect e) - Check if player has a give potion effect. I am looking for this one in particular, but I presume that a whole potion effect API needs to be added because I d

[2012-07-15 06:13] WWOL commented on #35
The first two both look easy. Adding a whole potion API would require a bit of thought though.

WWOL

[2012-07-15 09:33] damagefilter commented on #35
There was indeed a vehicle.setPassenger() however, I didn't find a way to actually implement that and removed it.
We gonna take care of the potions API, it should be there some day anyway.

[2012-07-15 10:14] damagefilter commented on #28
Oh yeah, forgot. Fixed that. Although it still spills an error, despite the fact that it created the file.
Not sure why that is.
I'm still closing this :)

[2012-07-15 10:14] #28 closed, assigned to nobody

[2012-07-21 09:16] WWOL opened #37 "Plugin conflicting with itself"
When disabling and enabling plugins multiple time I got the message
2012-07-21 21:13:17 [WARNING] Plugin 'CCPlugin' and 'CCPlugin' shouldn't have the same priority. Edit Canary.inf to resolve the conflict.
The plugin seams to conflict with itself.

Thanks,

WWOL

[2012-07-21 19:00] damagefilter commented on #37
Fixed :D

[2012-07-21 19:00] #37 closed, assigned to nobody

[2012-07-22 02:01] WWOL opened #38 "Duplicated commands on reload"
When reloading a plugin I get a DuplicatedCommandException saying the command already exists.
This breaks plugin reload.

WWOL

[2012-07-22 06:37] damagefilter commented on #38
I'm on it :D

[2012-07-22 07:45] damagefilter commented on #38
Cursed commit messages, I keep forgetting to reference the issues :S
Fixed & Closed :)

[2012-07-22 07:45] #38 closed, assigned to nobody

[2012-07-22 07:57] #35 closed, assigned to nobody

[2012-07-24 08:31] damagefilter commented on #10
Done.

[2012-07-24 08:31] #10 closed, assigned to nobody

[2012-07-24 09:30] #14 closed, assigned to nobody

[2012-07-25 21:49] damagefilter commented on #20
Done.

[2012-07-25 21:49] #20 closed, assigned to nobody

[2012-07-26 12:39] damagefilter opened #39 "Create better default settings..."
... for Permissions and groups so the server is runnable in a basic form out of the box.
Should include:
Permissions: _=true, canary.world._=true, canary.command._=true
Groups: players, mods, admins
rels: \* to admins, canary.world to players/mods, canary.command._ to mods

[2012-08-07 07:53] WWOL opened #40 "Factory"
Make factory classes to get around the fact the plugin devs can't go new Item() because it is an interface.
Without a factory devs have to add CanaryMod the the build path and use new CanaryBlock().

@damagefilter
@Jarvix
Thoughts?

The way I have it set out at the moment is everything is in the net.canarymod.api.factory package.
For a dev it is simple.
Canary.factory().itemFactory().newItem(int i

[2012-08-07 08:12] damagefilter commented on #40
Sure thing man. Seems like the better idea to use a central factory than cluttering it all over the code.

[2013-03-31 21:19] ayyron-dev opened #42 "Add Damage Values where necessary."

[2013-03-31 23:26] damagefilter opened #43 "Add translation to all userland output"

[2013-03-31 23:28] damagefilter opened #44 "Implement missing system commands"

[2013-03-31 23:29] damagefilter opened #45 "Investiage (and fix?) the Win8 folder creation issue..."
It appears that on (some?) windows 8 machines the XmlDatabase fails to properly write data to disk. It seems to be a win8 only issue.

[2013-03-31 23:38] damagefilter commented on #26
I'll implement this.

[2013-03-31 23:41] damagefilter commented on #39
Yup, fixed. Closed.

[2013-03-31 23:41] #39 closed, assigned to nobody

[2013-03-31 23:43] damagefilter commented on #40
Done. Closed.

[2013-03-31 23:43] #40 closed, assigned to WWOL

[2013-04-01 10:06] damagefilter opened #46 "Add facility for adding non-native worlds to servers tick loop"

[2013-04-01 10:08] damagefilter opened #47 "Server reload needs to reload data in Player too"
To make sure a reconnection is not necessary.

[2013-04-01 10:11] damagefilter opened #48 "HealthChange with source of health change"
As requested by a couple of users

[2013-04-01 13:36] damagefilter commented on #26
Done. Closing.

[2013-04-01 13:36] #26 closed, assigned to damagefilter

[2013-04-01 14:05] damagefilter opened #49 "Convert vanilla world format to Canary world format"

[2013-04-01 16:18] 14mRh4X0r commented on #49
What would that canary world format be then? Folder structure?

[2013-04-01 16:27] damagefilter commented on #49
Yep. Folder structure and player dat files.
It's possible to convert worlds back to vanilla (already)

[2013-04-01 21:10] damagefilter commented on #46
Closed. Done.

[2013-04-01 21:10] #46 closed, assigned to damagefilter

[2013-04-02 17:15] damagefilter commented on #49
Done.

[2013-04-02 17:15] #49 closed, assigned to damagefilter

[2013-04-04 11:17] damagefilter commented on #47
Fix'd

[2013-04-04 11:17] #47 closed, assigned to nobody

[2013-04-04 11:18] damagefilter commented on #45
Appears to be an issue with antivirus software forcing a lock on freshly created files for scanning ... nofix

[2013-04-04 11:18] #45 closed, assigned to nobody

[2013-04-05 03:50] WWOL opened #50 "Command (Small) Refactor"
@damagefilter
@darkdiplomat

When adding commands the logic is split into console and player methods. Often for simple commands these are the same. The only thing different is permission checking.
Why can't these be merged into the one method. MessageReciever can check permissions and send messages to the command caller so I see no reason to split it.
That said for the more advanced commands (or w

[2013-04-05 09:21] damagefilter commented on #50
If you don't want or need to split the logic, there is no need to. You can do most of the things with the MessageReceiver already. That's no problem. I just used to split them up in some commands to give the console a different output.

Also thanks for making the command :D

[2013-04-05 09:55] WWOL commented on #50
Thanks, I'll fix up the split ones that don't need to be split and add any new commands I think of over the weekend.

WWOL

[2013-04-05 09:55] #50 closed, assigned to WWOL

[2013-04-05 16:14] damagefilter commented on #50
The already existing commands are already split (or not split) up properly. You don't need to go through them ;)

But if you find a missing command, go ahead and add it.

[2013-04-06 00:54] damagefilter commented on #43
Done so far. Now there's only extra stuff to add.

[2013-04-06 00:54] #43 closed, assigned to damagefilter

[2013-04-06 00:55] damagefilter commented on #44
As of right now only /modify (or equivalent) and /give are missing.

[2013-04-06 00:55] damagefilter commented on #42
How#s that thing coming along? Can it be closed? ^^

[2013-04-06 00:59] ayyron-dev commented on #42
Need to check that everywhere that uses an implementation of inventory and item use the proper methods. Been away, I'll be around tomorrow though.

[2013-04-06 07:43] WWOL commented on #44
/motd aswell?

WWOL

[2013-04-06 09:57] damagefilter commented on #44
Ah, yes and motd :D

[2013-04-06 09:57] damagefilter commented on #42
Okay, cool! :)

[2013-04-06 15:48] damagefilter commented on #44
Dooooone! Finally.

[2013-04-06 15:48] #44 closed, assigned to damagefilter

[2013-04-06 16:09] darkdiplomat opened #51 "Custom Crafting/Smelting Recipes"
Allowing adding of custom Crafting and Smelting Recipes

[2013-04-06 16:10] #34 closed, assigned to darkdiplomat

[2013-04-06 17:49] ayyron-dev commented on #42
I did some looking and cannot fine anywhere where we need to add damage values. Closing.

[2013-04-06 17:49] #42 closed, assigned to ayyron-dev

[2013-04-06 20:22] darkdiplomat commented on #51
closed with 0deef99

[2013-04-06 20:22] #51 closed, assigned to darkdiplomat

[2013-04-06 20:52] damagefilter commented on #45
For the records: Forcing file lock before writing to output stream apparently fixed the problem.

[2013-04-08 03:37] darkdiplomat opened #52 "CommandSystem checks for CommandBlock"
so we don't get a CommandException when using a CommandBlock to execute commands

[2013-04-08 10:35] damagefilter commented on #52
Looking into it now.

Edit: We need to discuss that in more detail I think.

[2013-04-09 07:05] WWOL commented on #52
Could CommandBolock be a MessageReciever or am I thinking all wrong here?

WWOL

[2013-04-09 07:10] damagefilter commented on #52
It already implements MessageReceiver.
It'd be treated as server (god permission) so the thing is how to effectively disable commands on it before permission checks.

[2013-04-09 08:52] WWOL commented on #52
It's messy but have a special "ComandBlock" permission. However this would be for all command blocks not individual ones. I'm sure you'll find a better way.

WWOL

[2013-04-29 13:37] BluXDragon opened #53 "Request: getEntityLivingList() method in class World"
As title as description.

[2013-04-29 22:18] damagefilter commented on #53
I'll do that.

[2013-04-30 08:32] damagefilter commented on #21
To elaborate on this one:
It actually already is possible to alter the outcome of the world generation with the ChunkCreateHook.
One can override chunk data in it.

However, it's not very sophisticated and I see two options:
1: attempt to hack into the WorldGen classes instead
2: Provide tools to properly populate chunks with stuff via the chunk creation hook.

Number 2 would still be odd since, w

[2013-04-30 08:56] #53 closed, assigned to damagefilter

[2013-04-30 08:59] damagefilter commented on #52
CommandBlock re-routes its commands to Server and acts according to a list of allowed commands.
This should fix this issue.

[2013-04-30 08:59] #52 closed, assigned to damagefilter

[2013-04-30 21:24] BluXDragon opened #54 "Request: onSignShow hook for recode (SignShowHook)"
I simply request this;
https://github.com/FallenMoonNetwork/CanaryMod/blob/crow/src/PluginListener.java#L755
hook to be added to the recode.

[2013-04-30 21:43] BluXDragon opened #55 "Sign issues"
Wall signs (all four directions) return null for "block.getType()"

And casting to Sign;

[code]

for ground signs throws an exception

[code]

[2013-04-30 22:38] BluXDragon opened #56 "Player setDisplayName() sends the packet to the player you are changing"
As title as description. This is a problem as it causes the player in question to lose control over their own character (you will stand there unable to do anything until you relog).

On fixing this, I would also suggest you allow the player's display to be set to any form of EntityLiving. It does work, I have done it before, you simply send a packet spawning an Entity (such as a zombie) containing

[2013-04-30 23:22] WWOL commented on #55
Should Sign sign = (Sign)block; work? A sign is a complex block.  Try getting a complex block at that location and casting to sign.

WWOL

[2013-05-01 01:35] BluXDragon commented on #55
there is no Block .getComplexBlock method though, so it would essentially be

[code]

 which in the end is the same thing, no?

(Sign)block; is what I was told to use in IRC, in any case.

[2013-05-01 02:15] ayyron-dev commented on #55
Complex block doesn't extend block I'm pretty sure. I think the method to get it is in world. Either way this probably needs a looking at to makesure it is the best it can be or needs an improvement.

[2013-05-01 07:25] darkdiplomat commented on #55
Complex blocks don't extend block, if you want the block it would be Sign.getBlock()  I think

[2013-05-01 21:21] #54 closed, assigned to darkdiplomat

[2013-05-01 22:28] darkdiplomat commented on #55
fixed with 2228e5d  Someone forgot to add the name to Wall Sign so it wasn't getting registered.

[2013-05-01 22:28] #55 closed, assigned to nobody

[2013-05-03 04:22] BluXDragon opened #58 "Request: EntityLiving.setCustomName()"
Methods to set the "CustomName" and "CustomNameVisible" tags on EntityLiving.

http://www.minecraftwiki.net/wiki/Chunk_format#Mobs

[2013-05-03 04:22] BluXDragon opened #59 "EntityRightClickHook not called when rightclicking NonPlayableCharacter and Villager"
As title as description.

Updated to include Villager

[2013-05-03 05:10] BluXDragon opened #60 "World.dropItem(Item arg0) strips the item of NBT values"
All NBT, including name, lore and enchantments.

[2013-05-03 05:13] BluXDragon opened #61 "Lack of NBT getter/setters for Entity"
As title as description

[2013-05-03 08:42] ayyron-dev commented on #59
Look at the behavior class.

[2013-05-03 19:05] BluXDragon opened #62 "Lack of setters for FallingBlock (ID and Damage of the block)"
getBlockID()
getBlockMetaData()

These two methods have no setter equivalent.
Also perhaps getBlockMetaData() should be renamed? For a normal "Block" it is only called data, not metadata.

[2013-05-03 22:40] darkdiplomat commented on #60
This is an implementation issue. Fixed with https://github.com/FallenMoonNetwork/CanaryRecode/commit/9706ff6d55bff42b173c4e2e77c264570ace19fc

[2013-05-03 22:40] #60 closed, assigned to darkdiplomat

[2013-05-05 00:49] BluXDragon opened #64 "Placing a sign replaces lines of text with "?!""
Lines of text on a placed sign are replaced with "?!". As title as description.

Mostly putting this here for Somners' convenience.

[2013-05-05 07:19] darkdiplomat commented on #64
https://github.com/FallenMoonNetwork/CanaryRecode/commit/b5aecd4575dbbd0f824ae50b5c533fcecd2aa0f5

[2013-05-05 07:19] #64 closed, assigned to nobody

[2013-05-05 18:07] damagefilter commented on #56
Fixed, closing :)

[2013-05-05 18:07] #56 closed, assigned to nobody

[2013-05-05 22:52] BluXDragon opened #66 "Creepers do no damage to entities by default"
By default, creepers entity damage flag is set to false. Explicitly setting it to true via plugin results in them doing damage.

[2013-05-05 23:23] darkdiplomat commented on #66
already fixed it as we were talking about it

[2013-05-05 23:25] #66 closed, assigned to nobody

[2013-05-06 02:40] BluXDragon opened #67 "Overriding commands causes an error (that breaks sethome, setwarp, warps, and create kit)"
[code]

The true on the end is meant to allow the force overriding of commands. While the new commands work (although the new commands work if set to false too), it throws this error;

[code]

Which causes some default canary commands to cease functioning. In the above example I tried overwriting /me /msg and /tell

[2013-05-06 16:45] ayyron-dev commented on #61
I fixed this yesterday.

[2013-05-06 16:45] #61 closed, assigned to nobody

[2013-05-06 19:56] damagefilter opened #68 "Chunks not being saved"
When calling /save-all or shutting down the server, the Chunks are not getting saved.
The methods are called accordingly, however when restarting, the world will be reset.

[2013-05-07 18:02] BluXDragon opened #69 "Request: /sethome [playername] should be a thing"
Being able to set other players homes by default would be nice.

[2013-05-07 18:23] darkdiplomat commented on #69
DarkDiplomat approves! @damagefilter get on it :3

[2013-05-07 20:22] damagefilter commented on #68
Cannot be replecated, therefor marked as invalid for now

[2013-05-07 22:28] BluXDragon commented on #59
I am aware of this now but what if we want to have an effect on all NPC's (such as, say, deleting an entity when rightclicking them with an item), including those that weren't created by the same plugin. Are we to iterate through entities and apply behaviors to NPC's as they need them? I just think having EntityRightClickHook called too would be useful for situations where it's not specific to an

[2013-05-08 00:52] BluXDragon commented on #59
Updated to include Villager.

[2013-05-08 01:45] ayyron-dev commented on #59
Tomorrow is a coding day for me since today wasn't. Any others you're aware of?

[2013-05-08 18:51] ayyron-dev commented on #59
fixed this with https://github.com/FallenMoonNetwork/CanaryLib/commit/5f5c315268297f3180b26e5488ae097c3c76b2d6

[2013-05-08 18:51] #59 closed, assigned to nobody

[2013-05-08 19:18] damagefilter commented on #69
You can do setwarp HOME_PLAYERNAME (all uppercase letters) ^^
I shall be adding it nevertheless

[2013-05-08 19:25] ayyron-dev commented on #67
I closed the wrong one :3

[2013-05-08 19:25] ayyron-dev commented on #62
I did fix this :3

[2013-05-08 19:25] #62 closed, assigned to nobody

[2013-05-08 23:50] BluXDragon opened #71 "/reload command fails when the file "config/worlds/default/default.cfg" is missing"
Paste stolen from Knight, but I had the same issue (which I reported in IRC)

[code]

Creating the file, even though it never has anything in it, fixes the issue.

[2013-05-09 02:04] BluXDragon opened #72 "/help <commandalias> should show the tooltip"
It currently shows the description, but it would be helpful if it also showed the tooltip.

[2013-05-10 05:27] #71 closed, assigned to nobody

[2013-05-10 05:34] #72 closed, assigned to nobody

[2013-05-10 20:42] BluXDragon opened #73 ""Already Decorating!" semicrash error. Just posted chatlog inside <.<"
[code]

[code]

[2013-05-11 09:38] damagefilter commented on #73
This'll be fun.

[2013-05-12 09:04] damagefilter commented on #69
Ah, yes. I did that one.

[2013-05-12 09:04] #69 closed, assigned to nobody

[2013-05-12 09:05] damagefilter commented on #73
This may or may not be fixed ... Not sure. Reopen it if the error pops up again.

[2013-05-12 09:05] #73 closed, assigned to nobody

[2013-05-12 09:07] damagefilter commented on #68
There is something incredibly wrong with m local test environment. Cannot replicate anywhere else.

[2013-05-12 09:07] #68 closed, assigned to nobody

[2013-05-12 10:28] BluXDragon opened #74 "Spawning Particles has no visible effect"
As title as description. Spawning Particles has no visible effect.
No related errors.

[2013-05-12 11:11] ayyron-dev commented on #74
Can you post your code Calls to these methods?

[2013-05-12 21:50] BluXDragon opened #75 "Request: Implement scoreboard"
So that it is not forgotten.
If you need me to do any specific info gathering do tell :D

[2013-05-13 01:31] BluXDragon commented on #74
Updated. Every Aux effect I've tried work except BONE_MEAL. No particles work.

[code]

[code]

[2013-05-13 21:15] BluXDragon opened #76 "Inventory.removeItem(item); error"
http://pastebin.com/pJ6hExuX

The above error is thrown by the below code upon opening chests, dispensers, etc. Anything except player inventory (the hook isn't called when opening player inventory apparently).

[code]

[2013-05-14 02:38] darkdiplomat commented on #76
Fixed with https://github.com/FallenMoonNetwork/CanaryRecode/commit/663ffb6827b1fbf73da1b1fac4557336a62f4b52

[2013-05-14 02:38] #76 closed, assigned to nobody

[2013-05-14 15:13] damagefilter commented on #75
If you think you can manage to actually pull off the thing yourself, please do and make a PR.
Otherwise, we'll do it asap'ish

[2013-05-14 19:52] BluXDragon commented on #74
Updated as we figured out the problem with BONE_MEAL.

[2013-05-15 04:00] BluXDragon commented on #75
Yeah I can't say I'll know what I'm doing if I try that :P

[2013-05-15 04:17] BluXDragon opened #79 "Request: Fancy new version of getPlayerListEntry"
This, but on recode.
https://github.com/FallenMoonNetwork/CanaryMod/blob/crow/src/PluginListener.java#L1173
Preferably it should be moved/modified to give us a List< PlayerlistEntry >, and that we can instantiate PlayerlistEntry, for the purpose of adding "players" to the list. Or however you want to do it.

[2013-05-15 23:35] ayyron-dev commented on #74
well, it seems like, you're spawning it inside a block

[2013-05-16 00:10] BluXDragon commented on #74
I guess some context would have been a good idea.
I did that in a LineTracer, iterating through the getNextBlock() method. Through the air. I knew it worked as I had previously done it with AuxEffect MobspawnerFlames

[2013-05-16 00:15] ayyron-dev commented on #74
Ok.that makes sense then. UK try to be productive tomorrow

[2013-05-16 06:14] BluXDragon opened #80 "CompoundTag.values() issue"
The below code causes the below-below issue.

[code]

[code]

[2013-05-16 06:32] darkdiplomat commented on #80
and fixed https://github.com/FallenMoonNetwork/CanaryRecode/commit/d3023aadd421f43cf93a9045bf0451ed9d426d0f

[2013-05-16 06:32] #80 closed, assigned to nobody

[2013-05-16 08:33] BluXDragon opened #81 "PlayerRespawnHook setRespawnLocation(Location) doesn't work"
As title as description. No errors. No nothing.

[code]

[2013-05-16 10:42] WWOL commented on #81
This looks like an easy fix, if no ones on it tomorrow I'll get it.

WWOL

[2013-05-16 20:10] damagefilter commented on #81
Ah yes... lol.

[2013-05-16 21:26] #74 closed, assigned to nobody

[2013-05-16 21:38] damagefilter commented on #81
Fixed.

[2013-05-16 21:38] #81 closed, assigned to nobody

[2013-05-16 21:39] damagefilter commented on #67
Did that happen again in the last time or can we mark it as fixed?

[2013-05-17 06:13] BluXDragon opened #82 "CommandBlock permissions"
Instead of defining specific commands a CommandBlock can use, perhaps we should opt instead to be able to define what **permissions** CommandBlock's have by default? Be it typing out the list of default permissions or by giving the CommandBlock a "Group".

Essentially, I request that CommandHooks **do not** ignore permissions, and that we define what **permissions** a command block has by default

[2013-05-17 14:25] BluXDragon opened #84 "PotionEffectApplied hook isn't cancellable"
As title as description.

[2013-05-17 18:00] darkdiplomat commented on #58
closed with https://github.com/FallenMoonNetwork/CanaryLib/commit/4f52a68da149a64e854d31440a950216bbcdf8b0

[2013-05-17 18:00] #58 closed, assigned to nobody

[2013-05-17 18:09] darkdiplomat commented on #84
_param effect
     \*            a new {_link PotionEffect} or **null** to cancel out any effects
     */
    public void setPotionEffect(PotionEffect effect) {

[2013-05-17 18:50] ayyron-dev commented on #79
kind of like how the mob spawners/mob spawner entries work?

[2013-05-17 18:52] damagefilter commented on #82
Smart concept!

I would suggest we add a commandblock-group priperty instead of allowed commands then. this group & hierarchy will be used for permission lookups then.

[2013-05-17 23:02] ayyron-dev commented on #82
I second that.

[2013-05-20 02:55] greatman opened #85 "Error when doing a getServer().getPlayerNameList() while having a empty server."
Exception in thread "MCStats / Plugin Metrics" java.lang.NullPointerException
        at net.minecraft.server.MinecraftServer.getConfigurationManager(Minecraf
tServer.java:1064)
        at net.canarymod.api.CanaryServer.getPlayerList(CanaryServer.java:241)
        at net.canarymod.api.CanaryServer.getPlayerNameList(CanaryServer.java:10
0)
        at com.greatmancode.tools.caller.canary.CanaryCalle

[2013-05-20 08:20] BluXDragon opened #86 "Bug or not: negative plugin priorities cause plugins to not load?"
If this is intentional, then I suggest plugins be given a default priority higher than zero. The way it is now, if we want to explicitly set one plugin below all others, we have to increase the priority of every other plugin - including when we add new ones. This is blatantly inconvenient and simply giving plugins a default priority of, say, 10, would fix this.

[2013-05-20 08:29] WWOL commented on #86
Pretty sure it's intentional.
Also why not have one plugin at 10, another at 20, 30 and so on. Then when you add another just make it 21 etc.

WWOL

[2013-05-20 09:02] damagefilter commented on #85
Tested in enable() and during runtime.
Did not occur anymore.

[2013-05-20 09:02] #85 closed, assigned to nobody

[2013-05-20 09:04] damagefilter commented on #86
Is intended behaviour to selectively disable plugins permanently.

[2013-05-20 09:04] #86 closed, assigned to nobody

[2013-05-20 09:05] #84 closed, assigned to nobody

[2013-05-20 09:05] damagefilter commented on #82
Implemented!

[2013-05-20 09:05] #82 closed, assigned to nobody

[2013-05-20 09:13] BluXDragon commented on #86
The issue isn't fixed, problem lies in the description.
@WWOL not sure how you would determine the order of priority they would install, though. That's all well and dandy if you manually put it that way but yeah.

[2013-05-20 09:28] damagefilter commented on #86
I changed some things so priorities will be generated in 10-steps

[2013-05-20 23:42] BluXDragon opened #87 "Cloned items are magically NBT linked"
[code]

This is used to duplicate items. However, the duplicate item obtained is not an entirely separate item.

The best way to explain this is by example.

If I spawn an item into my inventory using this code;

[code]

I get the duplicate item. Yay. But then I use a plugin to enchant the original item (AFTER having already cloned it), and the enchantment gets applied to both the original and the

[2013-05-20 23:59] ayyron-dev commented on #87
Probably something wrong on our side.I'll take a look tomorrow.

[2013-05-21 01:25] darkdiplomat commented on #87
Well, that's a pretty epic level cloning .

Seriously though, I don't trust that method for cloning. I believe it was meant as a temporarily solution till we could resolve the issue with a real fix.

[2013-05-21 19:41] ayyron-dev commented on #87
Fixed with https://github.com/FallenMoonNetwork/CanaryRecode/commit/064b5374fd788a5bb56915991db16ecf488089f3

[2013-05-21 19:41] #87 closed, assigned to nobody

[2013-05-25 08:50] damagefilter opened #91 "Sanitise XML database"
Currently, the XML database works with the simple idea of having one file, containing ALL the data. Obviously, loading this file will cause serious memory issues at a certain point. Namely then when the files get so large that they cannot fit into the reserved memory anymore. This'll cause nasty trouble.

So what should be done is splitting the files up, dumping each and every set into a folder th

[2013-05-25 09:42] damagefilter opened #92 "NPE when reloading Plugin"
Reloading Plugins causes an NPE because it accesses getjarPath() and getName(), which rely on the inf file in pluginloader, which does not exist anymore in the given context.

[2013-05-25 12:10] #92 closed, assigned to damagefilter

[2013-05-25 13:04] damagefilter opened #93 "Reloading Plugins causes CNFE"
Example: Cuboids2.
After reloading, everythign and anything but the main-class will not load, instead error out with CNFE. It MIGHT has to do with Loader.findClass(...).
Here's a stacktrace:

[code]

[2013-05-29 09:44] nosefish opened #94 "Access to public fields of Chunk"
When working on CraftBook-Extra, I got significant performance improvements from performing local searches on Chunk specific lists instead of global ones. It would be nice if it was possible to do that cleanly in the recode.

Personally, I'm especially interested in
<code>Map Chunk.i</code> - chunkTileEntityMap
<code>List Chunk.j</code> - entityLists
<code>boolean Chunk.m</code> - hasEntities
but

[2013-05-29 14:32] darkdiplomat commented on #93
Fixed with https://github.com/FallenMoonNetwork/CanaryLib/commit/28031f40d3784d8d1581011c7eca83cfc5e94071

[2013-05-29 14:32] #93 closed, assigned to nobody

[2013-05-29 15:51] #94 closed, assigned to darkdiplomat

[2013-05-30 05:11] BluXDragon opened #95 "Player.getInventory().removeItem(item); not respecting NBT data"
Best description I have right now is example.

Two sticks are in my hotbar. One in the first slot, one in the second slot.

The stick in the second slot has a metatag "HasTag" value of true, and it has one line of lore "waffles".
The stick in the first slot is vanilla as it gets.

If I use Player.getInventory().removeItem(Player.getItemHeld()); while holding the stick (maybe the method getItemHeld

[2013-05-30 11:40] damagefilter commented on #95
One more time.
You hold the first stick in your hand and removeItem(Player.getItemHeld()) removes it?
Sounds like intended behaviour.

Probably not what you mean.
Bro tip for better descriptions:
Use a is-should schema. Like this:
Is:
Stick in hand is not removed by removeItem(Player.getItemHeld())
Should:
Stick should be removed by removeItem(Player.getItemHeld())

Makes thigns easier :)

[2013-05-30 12:28] damagefilter commented on #91
After thinking about this for a while, I came to the conclusion that XML is not suitable for servers of a scale, where the file size of any XML file would actually exceed or completely fill up available memory.
For this we have the mysql backend (and possibly others in the future).

[2013-05-30 12:28] #91 closed, assigned to damagefilter

[2013-05-30 13:50] darkdiplomat commented on #95
Remove Item is based on ID and Damage values only, was never intended to be a perfect match and trash

[2013-05-30 19:20] BluXDragon commented on #95
My description was awful as I was sleep deprived and leaving at the time of posting it. I just didn't want to forget.
I guess DD's comment ends the issue, since it wasn't intended to be that way then technically it's not an issue.

But in that case, the best way to remove a perfectly matched item would be? (I've tried using slot numbers from the item but it threw spazzes far too often. I'm not abl

[2013-05-30 19:20] BluXDragon commented on #95
Doublepost and the delete button isn't doing anything. God damn this device.

[2013-05-30 19:30] nosefish opened #96 "Request: add getDamageSource method to HangingEntityDestroyHook"
CanaryMod's <code>onHangingEntityDestroyed</code> has a DamageSource parameter. Would be nice if it was possible to access this information in the recode, too.

[2013-06-01 11:09] nosefish opened #97 "logger.CanaryLevel: strange values for level constants"
The logger logs every message with a level >= the level set for the logger.
The current order  <code>WARNING > DEBUG > DERP > NOTICE > SERVERMESSAGE > INFO</code> doesn't make much sense to me. When logging at level <code>INFO</code>, I don't expect to see <code>DEBUG</code> or <code>DERP</code> messages.

Expected order: <code>WARNING > NOTICE > SERVERMESSAGE > INFO > DERP > DEBUG</code>

[2013-06-01 15:55] damagefilter commented on #95
Can this be closed then?

[2013-06-01 16:24] damagefilter commented on #67
A mark this as fixed. It's not reproducible anymore.

[2013-06-01 16:24] #67 closed, assigned to damagefilter

[2013-06-01 16:28] #95 closed, assigned to nobody

[2013-06-01 18:20] damagefilter commented on #97
DERP is a kind of WARNING level (for those special moment warnings) so I would suggest this order:
WARNING > DERP > NOTICE > SERVERMSG > INFO > DEBUG

[2013-06-01 19:38] nosefish commented on #97
Sounds good to me. And thanks for clarifying the purpose of the DERP level.

[2013-06-04 14:21] #97 closed, assigned to damagefilter

[2013-06-04 15:26] darkdiplomat commented on #79
Just a note on this. There is no official list for PlayerListEntry, its all created dynamicly.
I can however, open a way to send a PlayerListEntry outside of the auto-update stuff. This should also allow fake entries to be sent (can't guarantee this function though)

[2013-06-04 16:16] BluXDragon commented on #79
So there's no real way for the server to know when the player presses TAB?

[2013-06-04 16:29] darkdiplomat commented on #79
Correct. The server doesn't know when player's look at the list, it just sends packets out periodically to update the information the Client has stored.

(Useless Information: I set my player list to P since I use Tab for inventory :3 )

[2013-06-04 16:57] BluXDragon commented on #79
Then perhaps a hook for when the automation sending fires off, and we can have a list for PlayerListEntry there?

[2013-06-04 17:29] darkdiplomat commented on #79
I can't give a list of entries as they are created as needed, I can however move the hook around and add who is to receive the entry

[2013-06-04 17:31] darkdiplomat opened #99 "Reserve-List non-existant"
As title states, the Reserve-List is non-existant

[2013-06-04 17:34] darkdiplomat opened #100 "Whitelist/Ban messages checking for translations rather than config"
This may or may not be the way this is suppose to be set up.
If its meant to be configurable, then this needs changed to look at the ServerConfig.
If its meant to go to the Translator, then the messages are missing from the lang files.

[2013-06-04 17:49] darkdiplomat commented on #79
Also, As I was saying earlier, I added sendPlayerListEntry(PlayerListEntry) to Server and will add a method to Player to do the same, so you can send a entries as needed.

[2013-06-04 20:01] #79 closed, assigned to darkdiplomat

[2013-06-04 20:17] BluXDragon opened #101 "Item.getMetaData kind of "corrupts" items, causing them to not stack properly"
The code provided below causes items to become what I call "dirty". Dirty items will not stack with clean items, only other dirty items.

[code]

Unnecessary lines have been trimmed. If you feel the need to see them;
http://pastebin.com/Au14xaF4

Evidently the issue lies in item.getMetaTag(); - once this code is performed, the item will no longer stack with new "clean" items.

[2013-06-04 21:11] darkdiplomat commented on #101
https://github.com/FallenMoonNetwork/CanaryLib/commit/bb22f2a0b5e866d141ce803d13d5ab022d179a4a addresses this

[2013-06-04 21:11] #101 closed, assigned to nobody

[2013-06-04 21:13] #99 closed, assigned to darkdiplomat

[2013-06-04 21:14] darkdiplomat opened #102 "Javadocs need cleaned and corrected"
The docs are missing parts or not fully written in many places

[2013-06-06 13:55] #96 closed, assigned to darkdiplomat

[2013-06-06 21:11] BluXDragon opened #103 "PlayerRespawnHook.isBedSpawn() always returning true"
Example code yaaay!

[code]

[2013-06-07 02:40] BluXDragon opened #104 "Logman.logStacktrace() (or Canary.logStackTrace()?) is not capitalized correctly"
The T, specifically.

I noticed it because the capitalization is not the same as "Canary.logStackTrace()", which annoyed me >.>

Not sure if you'd even want to change this but yeah. Here's another tasty issue report about something so minor :D

[2013-06-07 03:23] darkdiplomat commented on #104
as a plugin dev  you should be using Logman retrieved from the Plugin class. Canary.log\*  is meant for internal use.

[2013-06-07 05:17] damagefilter commented on #104
Apart from that, although grammatically not quite correct, "Stacktrace" is meant to be a single word.
(Because it looks better :P)

[2013-06-07 05:18] damagefilter commented on #103
Funny, doesn't to that for me.
I made an exact spawn for my server and it appeared to be returning the proper results.
Oh well ...

[2013-06-07 05:53] BluXDragon opened #105 "Changing Player NBT not saving"
Example code is best code.

[code]

Additionally I attempted setNBT as a result of the above, with these results;
player.setNBT(nbt); where nbt is player.getNBT(); throws this;

[code]

[2013-06-07 14:39] darkdiplomat commented on #105
1) NBT is created on the fly and uses the fields already present in the entity, so using the default NBT Tags will result in only the one instance having that data.

2) Someone should have included a meta tag for entities

[2013-06-08 21:03] BluXDragon opened #106 "AnvilUseHook.getAnvil() breaks renaming items"
[code]

The above code (alone) causes renaming items to break. When sticking an item in purely to rename it, after taking out the new item, there is no anvil use noise. When you close the inventory screen, you drop the item. The item dropped has the old name.
So essentially, the server thinks it never happened.

[2013-06-09 02:50] darkdiplomat commented on #106
Im not sure what you are trying to say, but I am unable reproduce any issues with the AnvilUseHook.

[2013-06-09 03:15] darkdiplomat commented on #105
a87d485 (Lib) and https://github.com/FallenMoonNetwork/CanaryRecode/commit/10d57800b06b310a79dc4bbae6f251306f608d23 (Impl) address this

[2013-06-09 03:15] #105 closed, assigned to nobody

[2013-06-09 18:48] darkdiplomat commented on #48
Its not really viable to do a cause of HealthChange. The native code is all over the place about adding/removing health, and there is no plans to rewrite the stuff to make such an option possible. If at some point the native sources are clean up and organized in a way that this would be possible then I will relook at adding this. For now though this isn't going to happen.

[2013-06-09 18:48] #48 closed, assigned to darkdiplomat

[2013-06-12 07:11] Larry1123 opened #110 "EnchantHook Change"
Have the Enchantment Table included or to have how many bookcases there are in range, the later would allow for the hook to be used when the Enchantment Gui is opened by a plugin.

[2013-06-12 18:59] BluXDragon commented on #106
I can't actually reproduce the issue anymore either. I hate when this happens ._.

[2013-06-12 19:12] Larry1123 opened #111 "Open GUI Interface"
Just putting this up as a reminder.
Make interface to open GUIs (Chest, Workbenches, ect.)

[2013-06-12 19:56] damagefilter commented on #106
Reopen when it happens again.

[2013-06-12 19:56] #106 closed, assigned to nobody

[2013-06-12 21:01] BluXDragon opened #112 "TeleportHook reason"
If at all possible, I'd like TeleportHook to have a getReason() method.
This should be simple enough, I imagine you'd use a TeleportReason enum or something.

But the method Entity.teleportTo(Location) should also come with a parameter to set the reason (by default it would just be "PLUGIN_DEFAULT" or something), eg Entity.teleportTo(loc, TeleportReason.PLUGIN). This would be useful for plugins th

[2013-06-12 21:36] WWOL commented on #112
A TeleportReason interface. Canary could provide the simple defaults, such as GENERIC_PLUGIN and CANARY_COMMAND or something similar. Then a plugin can make its own reason. It could even extend GENERIC_PLUGIN reason.

WWOL

[2013-06-12 21:37] WWOL commented on #111
Opening a simple inventory is extremely easy, not sure about the others but it shouldn't be too hard.
Is someone already looking into this?

WWOL

[2013-06-13 05:15] damagefilter commented on #111
no, please go ahead if you want to, just assign this thing to you so the others know.

[2013-06-14 06:50] BluXDragon opened #113 "Request: EntityDeathHook"
Just as a nice reminder.

[2013-06-14 20:32] darkdiplomat commented on #113
https://github.com/FallenMoonNetwork/CanaryLib/commit/e92840694ef0de7ccf1a26835abb70ce1497dce4

[2013-06-14 20:32] #113 closed, assigned to darkdiplomat

[2013-06-14 21:31] darkdiplomat commented on #112
https://github.com/FallenMoonNetwork/CanaryLib/commit/ecbfb56ae50b4e4d6b80330e71b8cd9032dc2cf3

[2013-06-14 21:31] #112 closed, assigned to darkdiplomat

[2013-06-15 08:42] damagefilter commented on #103
Fixed

[2013-06-15 08:42] #103 closed, assigned to damagefilter

[2013-06-15 20:48] darkdiplomat commented on #110
https://github.com/FallenMoonNetwork/CanaryLib/commit/fc4d0f79972d52d46a31ff7b316d664576b91b02

[2013-06-15 20:48] #110 closed, assigned to darkdiplomat

[2013-06-16 13:53] ayyron-dev commented on #75
for an update, I have this about half done, been busy lately :/

[2013-06-16 20:28] BluXDragon opened #115 "EntityDeathHook not being called when a Player dies"
With the below code, on killing entities (such as spiders, which was my test), the "something died." message will appear.

However, when a player dies (via falling, fire, or being killed by zombies - those were my tests), not even the "something died." message appears, let alone the "a player died!".

[code]

[2013-06-16 20:29] darkdiplomat commented on #115
https://github.com/FallenMoonNetwork/CanaryLib/blob/master/src/main/java/net/canarymod/hook/entity/EntityDeathHook.java#L13

[2013-06-16 20:29] #115 closed, assigned to nobody

[2013-06-16 20:32] BluXDragon commented on #115
What is the reasoning behind this, exactly?

[2013-06-16 20:34] darkdiplomat commented on #115
Player death is called in a different location and they don't sync up. Plus PlayerDeathHook has been there for a while and has stuff to change/disable the death message

[2013-06-16 20:44] BluXDragon commented on #115
I was under the impression changing the message in EntityDeathHook.getDamageSource() was the way to do that.
Oh well, as long as it all works I guess. I still think it's strange.

Edit: can't actually get DamageSource from PlayerDeathHook D:

[2013-06-16 20:56] darkdiplomat commented on #115
I know, I haven't gotten to adding it yet.

[2013-06-16 21:10] BluXDragon commented on #115
Gah I can't get the NBT data of the player's entity using PlayerDeathHook either! It gets cleared before the hook is called!
I don't like it D:

[2013-06-16 21:36] darkdiplomat commented on #115
NBT data isn't really "cleared"  it always dynamically generated

[2013-06-16 22:10] BluXDragon commented on #115
Well you know what I meant. What my problem is ._.

[2013-06-20 01:14] BluXDragon opened #116 "TeleportHook.getDestination() location's rot/pitch are swapped"
Code and a picture woo!

[code]

![GitHub Logo](https://dl.dropboxusercontent.com/u/62700505/Pictures/MC/javaw%202013-06-19%2021-11-06-83.png)

[2013-06-20 01:35] darkdiplomat commented on #116
How do you know it's not just wrong in Player? :P

[2013-06-20 02:13] BluXDragon commented on #116
I suppose my code example does leave that possibility, but the un-snipped version does include actually teleporting to that location and it does mess up the pitch/rot.

[2013-06-20 03:25] darkdiplomat commented on #116
fix in recode: https://github.com/FallenMoonNetwork/CanaryRecode/commit/b0a2aac5c9fba85aea38a1b56eaa54b80f3e1556

[2013-06-20 03:25] #116 closed, assigned to nobody

[2013-06-23 18:19] darkdiplomat opened #117 "Beta 0.9"

[2013-06-23 18:19] #117 closed, assigned to nobody

[2013-06-23 18:20] darkdiplomat commented on #117
oops wrong button, ignore this

[2013-06-23 18:44] #75 closed, assigned to ayyron-dev

[2013-06-23 21:18] ayyron-dev commented on #104
What is the verdict here? closed?

[2013-06-23 21:51] ayyron-dev opened #118 "Built in Multiworld compatible permissions."
The title says it all. This way we have better compatibility across Multiworld plugins, and cleaner data storage for them as well.

My idea, add a 'worlds' String variable List to PermissionsAccess,  Then add a method to User and Groups for hasPermission(String permission, World world),  we can leave in the hasPermission(String permission) for backwards compatibilty and for those plugins that just

[2013-06-23 21:54] BluXDragon commented on #118
I was going to say in IRC, per world groups might work better. But we might want people to have the same group across all... So yeah.

If it's implemented as somners says, I hope the list can remain empty for "all worlds", or maybe a wildcard?

[2013-06-24 01:27] ayyron-dev commented on #118
I was thinking something like "*" for all worlds.

[2013-06-24 05:17] damagefilter commented on #104
The verdict is that we should refactor Canary.logStackTrace to Canary.logStacktrace

[2013-06-24 05:24] damagefilter commented on #118
Regarding permissions, I have the idea of a multiworld-centric implementation of the PermissionProvider, which would indeed require another String in PermissionAccess. However, I think this should be an extra DbAccess object.
So we keep the two implementations separate.

About those per-world groups - this is gonna be a little bit trickier.
We would need to talk about this in more detail as to how

[2013-06-24 09:25] #104 closed, assigned to nobody

[2013-06-25 12:16] nosefish opened #119 "ServerTickHook is unused"
Tried to use it in a PluginListener - didn't work. Searched the source trees of CanaryLib and CanaryMod - the only result was the class definition in CanaryLib/src/main/java/net/canarymod/hook/system/ServerTickHook.java

[2013-06-25 23:25] darkdiplomat commented on #119
it was put on hold. debating on whether to proceed with implementation and where the best place for it was.

[2013-06-26 03:18] BluXDragon commented on #119
In theory, ServerTickHook wouldn't have as many CME's as TaskManager tasks, wouldn't it?
I was having issues accessing a database with TaskManager tasks (as you know), but in a hook it probably would have worked fine...

[2013-06-26 03:21] BluXDragon opened #120 "Item.setColor(int rgbInt) Item.setColor(int red, int green, int blue) - code inside"
Didn't know where to put this, and thought you might want to make some changes (like removing the itemType check for custom items, or making it return when values are outside acceptable limits [or just make the rgbInt one private?]) so I'm just sticking it here.

[code]

I even made the methods use American spelling for you guys! (it pained me a little though)

[2013-06-26 12:02] darkdiplomat commented on #119
Thats because TaskManager is asynchronous to the Server and the Server doesn't do many things "thread safe"
ServerTask was made to help with being more synchronous

[2013-06-28 11:57] nosefish commented on #119
It would be really neat to have this, especially if it were called at the end of a tick - would give plugins a chance to reliably poll changes that are not visible through hooks. Another thing that it would allow is for other threads to synchronize on ticks, or delay tasks for a certain number of ticks.

With the <code>ServerTaskManager</code> and the exisiting hooks, there is no way to reliably d

[2013-06-29 13:52] darkdiplomat commented on #119
https://github.com/FallenMoonNetwork/CanaryRecode/commit/fb7c6e1d912ee2a3f08fa27004efba9d927a1529

[2013-06-29 13:52] #119 closed, assigned to nobody

[2013-06-29 15:38] damagefilter commented on #118
Ah, yes. Done. It comes as API. The logic needs to be implemented by a plugin as there are MANY ways to do it.
Even I can think of at least 2 ^^

[2013-06-29 15:38] #118 closed, assigned to nobody

[2013-06-29 15:39] damagefilter commented on #100
The messages are missing from the lang files ;)

[2013-06-29 15:39] #100 closed, assigned to nobody

[2013-07-06 16:53] darkdiplomat commented on #120
so basically you want a helper like what FireworkStar has for Leather Armor?

[2013-07-07 20:08] BluXDragon commented on #120
I suppose so. It seems a bit much to make an entire Leather Armour helper, perhaps a "miscellaneous item helper"? I just recall it's been requested a couple times somewhere so I thought you could use the code.

[2013-07-08 03:21] darkdiplomat commented on #120
https://github.com/FallenMoonNetwork/CanaryLib/commit/59285353aadb7e7384e22ca9f40b450d39c0bd42 closes this

[2013-07-08 03:21] #120 closed, assigned to nobody

[2013-07-24 22:02] spenk opened #121 "onExplode doesnt cancel entity damage"
when you cancel the onExplode hook it doesnt undo the entity damage, only the environment damage.

[2013-07-26 23:00] darkdiplomat commented on #111
Just a note to add to this, it should also allow for custom (sized) inventories to be opened as that is possible with the native code for Inventory GUI's

[2013-07-27 00:45] darkdiplomat commented on #121
This is by design, DamageHook handles the Entity damage from Explosions. Its a much easier and more reliable way than clearing the list of blocks that are effected (as other plugins may be using that information as well for things like logging or doing special things at those locations)

[2013-07-27 00:45] #121 closed, assigned to nobody

[2013-07-27 04:47] WWOL commented on #111
I have a little bit done on this but run out of time. I could just pastebin the code and let someone else do it if you guys want it done.

WWOL

[2013-07-28 16:43] stuxcrystal opened #123 "Invalid instructions for adding the Visual Illusion Repository"
The instructions to add the CanaryLib dependency.

The following dependency should be added

[code]

instead of

[code]

[2013-07-28 16:54] darkdiplomat commented on #123
you could also use 0.10-SNAPSHOT

[2013-07-28 17:45] #123 closed, assigned to nobody

[2013-07-31 08:28] damagefilter opened #124 "Extend Chunk access"
We need access to generating block lightmap and possibly ExtendedBlockStorage.
Those features are additions for the worldgeneration api.

[2013-07-31 08:36] damagefilter opened #125 "Async Chunk Loading"
As we're working with the server, we should really do that.

[2013-07-31 08:50] WWOL commented on #125
Shot not!

[2013-07-31 08:53] damagefilter commented on #125
Who's shooting?

[2013-08-01 00:06] WWOL commented on #125
Me, if I attempt this.

[2013-08-01 08:05] damagefilter commented on #125
Well then, go ahead.
But be fair, if you find yourself with not enough time, just say the word, so someone else can finish it.
Not in a hurry here but - you know - getting things done and stuff ^^

[2013-08-01 08:52] WWOL commented on #125
Sorry, I'm not very clear. I should learn to use proper English (even though its my first language)
I meant that I'll have to shoot something if I had to do it.
I.E. I can't, I probably don't know enough about threads.
Although, I could attempt it but I think it may mess up.

Sorry for any misunderstanding.

WWOL

[2013-08-01 09:08] Larry1123 opened #126 "getGroup for CommandBlock"
add method to CommandBlock to be able to retrieve the Group that the commandblock has

[2013-08-01 12:02] damagefilter commented on #126
https://github.com/FallenMoonNetwork/CanaryLib/commit/b1399b40af9291c196a2776f7aeb28ee65ef378c fixes this

[2013-08-01 12:02] #126 closed, assigned to damagefilter

[2013-08-01 12:09] damagefilter commented on #125
Okay, I'll do it then ^^
All cool.

[2013-08-04 01:18] darkdiplomat opened #127 "kit command is broke"
Didn't add a group? well you get:
Caused by: java.lang.NullPointerException
at java.util.Arrays$ArrayList. (Arrays.java:2842)
at java.util.Arrays.asList(Arrays.java:2828)
at net.canarymod.backbone.BackboneKits.addKit(BackboneKits.java:53)
at net.canarymod.kit.KitProvider.addKit(KitProvider.java:28)
at net.canarymod.commandsys.commands.KitCommand.player(KitCommand.java:113)
at net.canarymod.command

[2013-08-04 07:38] darkdiplomat commented on #127
Actually now just kit give is broken

[2013-08-04 17:17] #127 closed, assigned to damagefilter

[2013-08-04 19:56] darkdiplomat commented on #111
Forgot to close this with https://github.com/FallenMoonNetwork/CanaryLib/commit/246d5980c46073a8ca88251dd5ad60e846b3fc4a

For the most part this is good enough, some inventories may require more special attention

[2013-08-04 19:56] #111 closed, assigned to nobody

[2013-08-07 09:52] 14mRh4X0r commented on #125
Also, async chunk unloading.

[2013-08-07 10:39] damagefilter commented on #125
Yes. lol

[2013-08-19 12:00] damagefilter opened #130 "Queue mode in Database"
I thought about SQL Adapaters the other day and most of them have a thing called queue mode. That's when queries are not commited the moment you execute them, but are cached and then dumped all at once, when you commit them.
In most SQL implementations they are also batched in the process so that also allows
for better performance and rollbacks on errors.

So, I think we should implement a queue m

[2013-08-19 12:01] damagefilter commented on #124
Was already done.

[2013-08-19 12:01] #124 closed, assigned to damagefilter

[2013-08-26 10:59] nosefish opened #131 "Request: a way to get a list of all currently loaded chunks"
The old CanaryMod has the <code>World.getLoadedChunks</code> method to get all chunks of a world that are currently loaded, which is very useful when a plugin that scans chunks for certain Blocks/Entities/TileEntities has to be reloaded or is enabled after a world has been loaded. (e.g. CraftBook-Extra does this to find all loaded self-updating ICs)

I'd like to have a way to accomplish this in th

[2013-08-26 15:27] damagefilter commented on #131
We shall re-implement that feature!

[2013-08-26 15:46] #131 closed, assigned to damagefilter

[2013-08-28 14:16] nosefish opened #132 "Documentation mismatches in World"
For
<code>isChunkLoaded(int x , int z)</code>,
<code>getChunk(int x , int z)</code>, and
<code>loadChunk(int x, int z)</code>
the documentation states that they take chunk coordinates, when in fact world coordinates are expected by the implementation in CanaryRecode.

[2013-08-28 16:23] 14mRh4X0r commented on #132
Shouldn't this be an issue on CanaryRecode, since CanaryLib defines the API?

[2013-08-30 03:35] darkdiplomat commented on #132
Recode corrected to follow specifications laid out in CanaryLib https://github.com/FallenMoonNetwork/CanaryRecode/commit/4f3d117cc1f8655f6b867fadff87500615157db1

[2013-08-30 03:35] #132 closed, assigned to nobody

[2013-09-01 08:20] nosefish opened #133 "Request: a way to simulate a right-click on a block"
I'd like to switch a lever from a plugin. As explained in https://github.com/FallenMoonNetwork/CanaryRecode/issues/64, all my attempts to accomplish that have failed so far.

CanaryMod's <code>Block</code> has the method <code>boolean rightClick(Player clicker)</code>, which makes this very easy (<code>null</code> players work for many block types).

[2013-09-01 08:33] #133 closed, assigned to nobody

[2013-09-01 08:35] nosefish commented on #133
Less than 15 minutes - must be a new record. You people are awesome, thanks!

[2013-09-01 08:40] darkdiplomat commented on #133
I just happen to be working on various things at the time and figured i could get this knocked out quickly

[2013-09-09 06:02] damagefilter opened #135 "CommandBlock not recognised by Commands"
Most commands check if a MessageReceiver is Server or Player,
however they do not take into account the CommandBlock, which is also a
MessageReceiver. So in order to fix that, a different logic must be used.

[2013-09-09 07:39] WWOL commented on #135
As a quick fix could we just call the server code for command blocks? Some messages would be wrong but at least most would work.
As for some other way of doing it I don't know. Maybe some sort of PlayerBackedMessageReciever or WorldMessageReciever for ones that exist in the world.

WWOL

[2013-09-09 13:24] damagefilter commented on #135
The moment you're looking at all the commands you could just take the time and think if it needs any different logic.
Most of them would work the same as if the server was invoking it though, that's right.

Apart from the fact that they have restricted permissions, so one should definitely check if it does permission checks or not. If it doesn't that needs to be changed (not for server, only for C

[2013-09-10 06:40] #135 closed, assigned to nobody

[2013-09-20 00:21] darkdiplomat opened #136 "Max Health redone"
Making a note for myself so I don't forget this again.

[2013-09-22 01:19] darkdiplomat commented on #136
https://github.com/FallenMoonNetwork/CanaryLib/commit/df479ad79e56a9934b2c710b7b42395ebb4f42f5

[2013-09-22 01:19] #136 closed, assigned to darkdiplomat

[2013-09-27 19:48] svdragster opened #138 "player removePotionEffect methods"
removeAllPotionEffects();
removePotionEffect(PotionEffect);

Would be nice if those were added for LivingBase, I couldn't find a different way to remove them except a workaround with high amplifier.

[2013-09-27 20:05] BluXDragon commented on #138
Just pointing out, LivingBase is what you want this on. This means it applies for EntityLiving as well as Player. These two things were separated at some point, apparently.

[2013-09-27 21:05] 14mRh4X0r commented on #138
Yeah, in 1.6 IIRC

[2013-09-27 23:56] darkdiplomat commented on #138
My Linux drive went down and i don't get my new one till next week, but I will remember to look into this and move the methods around.

[2013-09-28 13:27] damagefilter commented on #138
Yeah, mister one man show :p

[2013-09-28 14:16] #138 closed, assigned to damagefilter

[2013-10-06 19:02] svdragster opened #139 "player.setLevel/removeLevel/addLevel"
Since there is already getLevel those other methods would be nice.

[2013-10-06 19:43] darkdiplomat commented on #139
getLevel is more of an informative method as its not an independent field, total experience points causes the change in level so setting just a level would have little to no effect as is.

[2013-10-06 20:31] darkdiplomat commented on #139
on a side note, I will look into adding convenience methods to get the level wanted

[2013-10-09 15:10] #139 closed, assigned to nobody

[2013-10-09 15:11] damagefilter commented on #139
Stealin' yo work! :P
On a side note ... (pun intended) - a method to convert back experience points to levels would be funky.
But my brain doesn't want to reverse that formula properly atm.

[2013-10-12 19:23] svdragster opened #140 "CookTime always returning 0"
[code]

Both say 0

[2013-10-12 19:47] darkdiplomat commented on #140
SmeltHook is called after the cooking process is completed, so cook time will be 0.
furnace.getCookTime() times 1.5 where cooktime == 0 is going to be 0 as 0 times anything is always 0

[2013-10-12 19:47] #140 closed, assigned to nobody

[2013-10-16 16:29] svdragster opened #141 "player.setMotion only runs when player gets fall damage"
[code]

If I place a DirtBlock, it writes BraveJump. But only gives me the motion if I get fall damage in survival or adventure mode.

[2013-10-16 18:29] darkdiplomat commented on #141
That seems a bit extreme for a motion.

Either way I have noticed an issue with the methods and variables and am working to correct them.

[2013-10-17 17:40] darkdiplomat commented on #141
https://github.com/FallenMoonNetwork/CanaryRecode/commit/ae64fc78ce9aed28ede478c29d61e8ee460ba0e0

[2013-10-17 17:40] #141 closed, assigned to darkdiplomat

[2013-10-20 13:49] svdragster opened #142 "setScoreObjectivePosition(ScorePosition, ScoreObjective, player) not working"
[code]

[2013-10-22 20:29] ayyron-dev commented on #142
@svdragster

You need to use the addScoreboard() methods in Scoreboard to first add a new ScoreObjective to the scoreboard.

When you call ScoreObjective obj = sc.getScoreObjective("Something_that_definetly_exists."); it is returning a null object because it does not exist. it was never added.

After that when you do this:

 sc.setScoreObjectivePostion(ScorePosition.SIDEBAR, obj, player.getWorld()

[2013-10-22 21:04] svdragster commented on #142
@somners I added the objective ingame via the scoreboard command. As mentioned the other method works perfectly, only the second one with Player does not make
the sidebar appear.

[2013-10-23 16:04] damagefilter opened #143 "Database extensions loader is deprecated"
Revise the code and implement loading via CanaryClassLoader.
Also change pattern from Singleton (getInstance) to free constructor.
It's pointless how it is right now.

May require slight refactoring in Database.get()

[2013-10-23 16:05] damagefilter commented on #130
Closing for now. May re-open later.

[2013-10-23 16:05] #130 closed, assigned to damagefilter

[2013-10-23 17:32] ayyron-dev commented on #142
This has been investigated more.  This feature may have to be dropped unless we do a near rewrite of the scoreboards system.

[2013-10-23 22:32] darkdiplomat opened #144 "add under water breathing things"
boolean canBreathUnderWater
void setCanBreathUnderWater(boolean)
int getAirTicks
void setAirTicks(int)

[2013-10-24 10:00] #143 closed, assigned to damagefilter

[2013-10-25 15:53] spenk opened #145 "newItem(ItemType)"
Canary.factory().getItemFactory().newItem(ItemType.glass) creates an item with the amount of 0, it should be 1 as in the javadocs.

[2013-10-25 16:18] spenk opened #146 "removeItem does not work as its supposted to do"
Item item = player.getInventory().getHelmetSlot();
player.getInventory().removeItem(item);

this should remove the item from the helmed slot but it removes the item that matches the itemType from the inventory.

[2013-10-25 16:20] darkdiplomat commented on #145
The javadocs show  Damage 0, stack size 0
http://docs.visualillusionsent.net/CanaryLib/1.0-RC-3/net/canarymod/api/factory/ItemFactory.html#newItem(net.canarymod.api.inventory.ItemType)

[2013-10-25 16:20] #145 closed, assigned to nobody

[2013-10-25 16:22] darkdiplomat commented on #146
NO

Remove Item has always been recursive to remove items that match a type.

setSlot(slotIndex, (Item)null)  should be used to clear slots specifically

[2013-10-25 16:22] #146 closed, assigned to nobody

[2013-10-26 18:28] ayyron-dev commented on #142
alright, so implementing to work 'per player' in this manner would be improper. The method for updating every player still works.  I'll be working on something relevant to this after the update to 1.7.2

[2013-10-31 18:06] svdragster opened #147 "setMayFly not working."
Player player = hook.getPlayer();
HumanCapabilities capability = player.getCapabilities();
capability.setMayFly(true); // No difference when double tapping space

[2013-10-31 18:50] darkdiplomat commented on #147
player.updateCapabilities();

[2013-10-31 18:50] #147 closed, assigned to nobody

[2013-11-02 19:38] svdragster opened #148 "getBlockMaterial returns null"
[code]

[code]

[2013-11-02 20:40] svdragster opened #149 "vector launches player somewhere"
[code]

This code launches me about 100 blocks into the air, 2500 - 5000 blocks ahead into x direction, and, 300 blocks into z direction. I'm pretty sure this shouldn't happen.

[2013-11-02 21:18] #149 closed, assigned to nobody

[2013-11-02 22:24] WWOL commented on #148
Are you sure the explosion isn't getting cancelled somewhere? That may cause it, I don't know.

WWOL

[2013-11-02 22:34] svdragster commented on #148
@WWOL it does damage to world and entities, and I tested it with only this plugin enabled.

[2013-11-05 15:45] damagefilter commented on #148
@WWOL If it was cancelled, the Plugin wouldn't receive the hook at all ;)
Other than that, print me the contents of getBlocksAffected. Because the list itself is not null, as you're later using it. Something inb there is null, which I presume could be a block of air

[2013-11-05 15:52] svdragster commented on #148
It doesn't print anything, it just errors immedietly. I was also checking if there is an air block, but that didn't help.
I'm adding the blocks to another array list to later restore the blocks. If I run the command it does work, but it will only restore a couple of blocks. If I run the command multiple times it restores all blocks after a while (after 3-5 runs).

[2013-11-05 15:54] damagefilter commented on #148
System.out.println(getAffectedBlocks().toString()); <- that please

[2013-11-05 16:08] svdragster commented on #148
lots of air. http://pastebin.com/aRhHKGUq

[2013-11-06 10:01] damagefilter commented on #148
Oh I should read that stacktrace more. And you should too.
It's getBlockMaterial being null.

[2013-11-06 10:19] 14mRh4X0r commented on #148
It's not getBlockMaterial returning null, it's the `s[type].cU` part in CanaryBlock throwing a NPE because `s[type]` is null.

[2013-11-06 10:24] damagefilter commented on #148
Indeed. Thank you, Master!

[2013-11-06 10:25] #148 closed, assigned to nobody

[2013-11-12 10:05] 14mRh4X0r opened #150 "Multiple inheritance for groups (and optionally players)"
This is useful when you have multiple "paths of promotion", e.g. if you have donor ranks and staff ranks.
### Rationale

Let's say you have 2 staff ranks and 5 donor levels. In the current set-up you'd have to create 17 groups, one "standalone" and one for each combination, and enter all of the needed permissions to each group (slightly reducible by single inheritance). This grows exponentially wi

[2013-11-12 20:49] 14mRh4X0r commented on #150
I've looked at the code again (this feature request was based on the admin guide), and saw that player already has multiple groups, only in the way of a main group and subgroups. I propose that difference be taken away if the player part would be implemented.

[2013-11-13 20:30] svdragster opened #151 "hook.getBannedPlayer(), hook.getKickingPlayer() nullpointerexception."
BanHook
http://pastebin.com/hVrVX5u1

KickHook:
http://pastebin.com/QXYZ1ABt

Removing the line from the code makes the whole thing work again.

[2013-11-14 20:56] WWOL commented on #151
I'm not sure what you mean here.
When you use hook.getBannedPlayer() does that throw the NPE (indicating hook == null) or is the player returned null?

Also KickHook has no method getKickingPlayer(). Looking for getModerator() maybe?
Also also, getBannedPlayer() docs, "@return banned if not ipban, null otherwise". Is it an IP ban.
WWOL

[2013-11-15 16:27] svdragster commented on #151
Even though I double checked using the right canaryLib, it was still rc2. So the getKickingPlayer was changed to getModerator like in the ban hook.

But still the getBannedPlayer() returns null, also it's no ipban.

[2013-11-15 22:05] WWOL commented on #151
OK, I'll have a quick look.

WWOL

EDIT: If the player isn't online then there is no player instance so getBannedPlayer() will be null.
If the player is online then it should work fine as the rest of the code that uses the player instance is working (IE player != null)

[2013-12-03 08:37] SirPsp opened #152 "WorldManager.getExistingWorlds() does not contain new worlds"
Canary.getServer().getWorldManager().getExistingWorlds() does not contain a new world until I restart the server.

[2013-12-05 07:42] damagefilter commented on #152
Indeed, it reads the worlds folder only at startup.

If you could please, from now on, post issues on this repo: https://github.com/CanaryModTeam/CanaryLib/
That would be awesome :)

[2013-12-07 21:23] svdragster opened #153 "player.removeAllPotionEffects() not removing effects"
It may actually seem that it's removed, but as soon as you get damage the potion effects will reappear.

[2013-12-07 22:43] svdragster opened #154 "DamageHook Does not call on PvP/PvE"

[2013-12-12 22:13] BluXDragon commented on #150
I have actually needed this ever since I first started Canaryi- hMod'ing.

[2013-12-12 22:20] BluXDragon opened #155 "Deleting inherited groups error"
Deleting a group that is currently inherited throws an error (which makes sense);
`2013-12-12 17:15:02 [WARNING] [CanaryMod] Could not execute command...
java.util.ConcurrentModificationException
        at java.util.ArrayList$Itr.checkForComodification(Unknown Source)
        at java.util.ArrayList$Itr.next(Unknown Source)
        at net.canarymod.user.UserAndGroupsProvider.removeGroup(UserAndGro

[2013-12-13 03:06] #155 closed, assigned to nobody

[2013-12-13 03:06] BluXDragon commented on #155
Closed due to being in the wrong git.

[2013-12-13 17:32] svdragster opened #156 "Server crash cancelling EntityMoveHook"
2013-12-13 18:27:27 [SEVERE] Encountered an unexpected exception ReportedException
net.minecraft.server.ReportedException: Ticking entity
    at net.minecraft.server.MinecraftServer.t(MinecraftServer.java:510)
    at net.minecraft.server.DedicatedServer.t(DedicatedServer.java:204)
    at net.minecraft.server.MinecraftServer.s(MinecraftServer.java:432)
    at net.minecraft.server.MinecraftServer.ru

[2014-05-16 21:36] svdragster opened #157 "player.getName() returning with colour codes"
This breaks old plugins when using textfiles to store playernames because it creates things like Â§9svdragster

[2014-05-20 17:23] darkdiplomat commented on #157
This repository is no longer update by the CanaryMod Team, please use https://github.com/CanaryModTeam/CanaryLib/issues/

[2014-05-20 17:23] #157 closed, assigned to nobody

[2015-02-06 10:30] MrZoraman commented on #154
Have you tried HealthChangedHook?

[2015-02-06 10:51] MrZoraman opened #158 "groupmod help menus fail to mention anything about player prefixes"

[2015-02-06 10:51] #158 closed, assigned to nobody

[2015-02-06 12:45] svdragster commented on #154
@MrZoraman this repository is no longer used, things are happening here: https://github.com/CanaryModTeam/CanaryMod

[2015-02-06 12:45] #154 closed, assigned to nobody

[2016-01-18 12:54] Sasha91 opened #159 "simulating right click (using scriptcraft) on a lever or button, causes it to brake."
I was playing around with some scriptcraft, when i found that simulating a right click on a lever or button, causes it to fall off and lay on the ground as an item.
I can only assume that this is a bug.

code piece:
var block;

function rightClick(event) {
  block = event.getBlockClicked();
  echo(event.player, "block registered");
}

exports.sim = function(player) {
  echo(player, "now simulating

[2016-01-18 13:27] #159 closed, assigned to nobody